* {margin: 0; padding: 0}

body {font-family: 'TruenoRegular', Helvetica, Arial, sans-serif;}

h2 {text-align: center;color: #262626;}

li {list-style-type: none; margin: 25px 0px 5px 0px; padding-left: 20px;}

p {margin: 10px;color: #262626;}

.row-margin {
	margin: 250px 0px;
}

main {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
}

#topdiv {
	background: url(Death_to_stock_communicate_hands_11LessBright.jpg); 
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size:cover;
	height: 75px; 
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 10;
	font-family: 'Bitter';
}

#topdiv a {
	font-size: 160%;
	color: #ffffff;
	text-decoration: none;
}

#topdiv a:hover {
	color: #d8d8d8;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.banner {
	margin-left: auto; 
	margin-right: auto; 
	text-align: center;
	height: 450px;
	width: 100%;
	background: url(Death_to_stock_communicate_hands_11LessBright.jpg);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size:cover;
	position:relative;
}

#banner1h1 {
	font-family: 'Bitter';
	color: #ffffff;
	font-size: 60px;
	letter-spacing: 2px;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%);
}

.welcometext {
	text-align: center;
	font-family: 'Bitter';
}

.welcometext h1 {
		font-size: 50px;
}
	
.banner2 {
	position: relative;
	margin-left: auto; 
	margin-right: auto; 
	text-align: center;
	height: 125px;
	width: 100%;
	background: url(Death_to_stock_communicate_hands_11LessBright.jpg);
	background-position: center;
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-size:cover;
	clear: both;
}

#banner2h2 {
	font-family: 'Bitter';
	position: absolute;
	color: #ffffff;
	letter-spacing: 2px;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.image {
	opacity: 1;
	max-width: 100%;
	height: auto;
	transition: .5s ease;
}

.overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: black;
	width:100%;
	height: 100%;
	opacity: 0;
	transition: .5s ease;
}

/*.textoverlay p {
	padding-top: 5%;
	text-align: left;
	color: #cccccc;
	font-size: 16px;
	font-style: italic;
}*/

.textoverlay h1 {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, 0%);
	color: white;
	font-family: 'Bitter';
	font-style: normal;
}

.projectbutton {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.projectbutton a {
	text-decoration: none;
}

.projectbutton a:hover {
	text-decoration: none;
}

.projectbutton a:visited {
	text-decoration: none;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .projectbutton {
  opacity: 1;
}

.container:hover .overlay {
	opacity: 0.8;
	transition: .5s ease;
  }

.container p {
	font-family: 'Bitter';
}

.textbutton {
  background-color: #FF5F66;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  transition: .5s ease;
}

.textbutton:hover {
	background-color: red;
	transition: .5s ease;	
}

.VideoContainer {
	position: relative;
	text-align:center;
	width: 100%;
	height:450px;
	margin: 150px 0px;
}
	
.responsiveVideo {
	width: 50%;
	height: 100%;
	border: 0;
}

.contact {
	position: absolute;
	/*float: left;*/
	left: 6%;
	bottom: 0;
	text-align: left;
	font-family: 'Bitter';
	font-size: 20px;
}

.contact a {
	color: #262626;
}

.pagefooter {
	width: 100%;
	height: 40px;
	margin-left: auto; 
	margin-right: auto;
	clear: both;
	background: url(Death_to_stock_communicate_hands_11LessBright.jpg);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size:cover;
	text-align: center;
	color: #ffffff;
	padding-top: 15px; 
}

/*Responsive for small screens*/

@media screen and (max-width: 767px) {
	
	#topdiv {
		height: 190px;
	}
	
	.navbar-header a {
		padding-left:15px;
	}
	
	li {margin-top:5px;}
	
	.banner {
		height: 600px;
	}	
	
	#banner1h1 {
	font-size: 35px;
	}
		
	.VideoContainer {
		position:relative;
		width: 100%;
		height: 50%;
		clear: both;
	}
}

@media screen and (max-width: 500px) {
	.textoverlay p {
		display: none;
	}
}

@media screen and (max-width: 1546px) {
	.contact {
		position: static;
	}
}